<br>

<div class="row">

<h3>Dashboard (4)</h3>
<br><br><br><br><br><bR>
    <a href="/Project/Index">
        <div class="panel panel-default col-sm-3" style="background:blue;color:white">
            <div class="panel-body">
                <h4>Projects</h4>
                <h2>@ViewBag.ProjectCount</h2>
            </div>
        </div>
    </a>

    <a href="/WorkItem/Category/Feature">

        <div class="panel panel-default col-sm-3" style="background:green;color:white">
            <div class="panel-body">
                <h4>Features</h4>
                <h2>@ViewBag.FeatureCount</h2>
            </div>
        </div>
    </a>
    
    <a href="/WorkItem/Category/Task">

        <div class="panel panel-default col-sm-3" style="background:orange;color:white">
            <div class="panel-body">
                <h4>Task</h4>
                <h2>@ViewBag.TaskCount</h2>
            </div>      
        </div>
    </a>
    
    <a href="/WorkItem/Category/Bug">

        <div class="panel panel-default col-sm-3" style="background:red;color:white">
            <div class="panel-body">
                <h4>Bugs</h4>
                <h2>@ViewBag.BugCount</h2>
            </div>
        
        </div>
    </a>    

</div>
